<div class="row" fxHide.xs>
  <div class="col-sm-6 col-lg-4">
    <mat-card class="cardWithShadow bg1">
      <mat-card-content class="p-24 center-content">
        <div class="row">
          <img src="../../../assets/images/backgrounds/users.png" class="mr-8" width="80" height="80" alt="User Image">
          <!-- User image -->
          <div class="column">
            <mat-card-title>
              Users
            </mat-card-title>
            <div class="row m-t-24">
              <div class="col-7">
                <h4 class="mat-headline-5">66</h4>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <mat-card class="cardWithShadow bg2">
      <mat-card-content class="p-24 center-content">
        <div class="row">
          <img src="../../../assets/images/backgrounds/customers.png" class="mr-8" width="80" height="80"
            alt="User Image"> <!-- User image -->
          <div class="column">
            <mat-card-title>Products</mat-card-title>
            <div class="row m-t-24">
              <div class="col-7">
                <h4 class="mat-headline-5">88</h4>
              </div>

            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6 col-lg-4">
    <mat-card class="cardWithShadow bg4">
      <mat-card-content class="p-24 center-content">
        <div class="row">
          <img src="../../../assets/images/backgrounds/events.png" class="mr-8" width="80" height="80" alt="User Image">
          <!-- User image -->
          <div class="column">
            <mat-card-title>Fault</mat-card-title>
            <div class="row m-t-24">
              <div class="col-7">
                <h4 class="mat-headline-5">89</h4>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
